﻿@model Webwinkel.Models.Order
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="floor" id="flat-entity-floor">
    <div class="control-panel">
        <a href="/Home/Index" class="tile">
            <span class="icon-menu2"></span>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1>MikMak</h1>
    </div>
    <form class="showroom">
        <header>
            <h2>Details basiseenheid</h2>
            <div id="command-panel" class="command-panel">
                <a href="/Order/Updating/@Model.Id" class="tile">
                    <span class="icon-pencil"></span>
                    <span class="screen-reader-text">Updating</span>
                </a>
                <a href="/Order/Inserting" class="tile">
                    <span class="icon-plus"></span>
                    <span class="screen-reader-text">Inserting</span>
                </a>
                <a href="/Order/Delete/@Model.Id" class="tile">
                    <span class="icon-remove"></span>
                    <span class="screen-reader-text">Delete</span>
                </a>
                <a href="/Order/Cancel" class="tile">
                    <span class="icon-close"></span>
                    <span class="screen-reader-text">Annuleren</span>
                </a>
            </div>
        </header>
        @Html.Action("ReadingAll")
        <div class="detail">
            <fieldset>
                <div>
                    <label for="idStatus">order ID Status</label>
                    <input id="idStatus" name="idStatus" class="text"
                           style="width: 22.5%;" type="text" value="" required />
                </div>
                <div>
                    <label for="idShippingMethod">ID verzendmethode</label>
                    <input id="idShippingMethod" name="idShippingMethod" class="text"
                           style="width: 22.5%;" type="text" value="" required />
                </div>
                <div>
                    <label for="idCustomer">ID klant</label>
                    <input id="idCustomer" name="idCustomer" class="text"
                           style="width: 22.5%;" type="text" value="" required />
                </div>
                <div>
                    <label for="ShippingDate">verzend datum</label>
                    <input id="ShippingDate" name="ShippingDate" class="text"
                           style="width: 32.5%;" type="date" value="" required />
                </div>
                <div>
                    <label for="OrderDate">bestel datum</label>
                    <input id="OrderDate" name="OrderDate" class="text"
                           style="width: 32.5%;" type="date" value="" required />
                </div>
            </fieldset>
            <div class="feedback">
            </div>
        </div>
    </form>
</div>