﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<div id="home-floor" class="floor">
    <div class="control-panel">
        <h1>Mikmak</h1>
    </div>
    <div id="showroom">
        <p>Hier komt de webwinkel</p>
    </div>
</div>